@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* Setting up a root with css variables for all the colors being used */
:root {
  --dark-blue: #213368;
  --light-blue: #159cfe;
  --light-blue-accent: #1181d1;
  --white: #ffffff;
  --dark-gray: #686868;
  --light-gray: #f6f6f6;
  --black: #000;

  --pill-border-radius: 100px;
}

/* Reset Styling */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--white);
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
}

input {
  width: 100%;
  display: block;
  padding: 1rem;
  background-color: var(--white);
  border: none;
  outline: none;
  border-radius: var(--pill-border-radius);
}
input::placeholder {
  color: var(--dark-gray);
}

form {
  width: 100%;
}
/* 
button {
    cursor: pointer;
} */

button.pill-btn {
  border-radius: var(--pill-border-radius);
  border: none;
  outline: none;
  padding: 1rem 2rem;
}

button.blue {
  background-color: var(--light-blue);
  color: var(--white);
}
button.blue:hover {
  background-color: var(--light-blue-accent);
  color: var(--white);
}

.container {
  width: 90%;
  max-width: 650px;
  margin: 0 auto;
  /* height: 90%; */
}

/* Sign In */
.log-in,
.sign-up {
  background-color: var(--dark-blue);
  width: 100%;
}

.log-in-container,
.sign-up-container {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.log-in-h1,
.sign-up-h1 {
  display: inline-block;
  color: var(--white);
  margin: 2rem 0;
  position: relative;
}
.log-in-container h1::after,
.sign-up-container h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
}
.log-in-container input,
.sign-up-container input {
  margin: 0.5rem 0;
}

.log-in-container button,
.sign-up-container button {
  width: 100%;
  margin: 1rem 0;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++
user campaigns page
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.campaigns-page {
  background-color: #e5e5e5;
}
.campaigns-header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.campaigns-header div p {
  color: rgba(164, 161, 161, 1);
}
.campaigns-header div h4 {
  font-size: 25px;
}
.ch-1 {
  flex-basis: 60%;
}
.campaigns-header button {
  padding: 1% 4% 1% 4%;
  border-radius: 50px;
  margin: 0.5%;
  border: none;
  outline: none;
  font-size: 18px;
  color: white;
  background-color: #159cfe;
}

.all-your-campaigns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.campaign-grouping {
  box-shadow: 0px 1px 4px rgb(19 126 199 / 20%);
  background-color: white;
  padding: 2%;
  margin: 2%;
}
.progress-group {
  display: flex;
  margin-bottom: 9%;
}

.pg-1 {
  width: 3rem;
  height: 3rem;
  margin-right: 0.4rem;
  text-align: center;
  border: 1px solid #159cfe;
  border-radius: 100%;
  color: rgba(255, 255, 255, 1);
  background-color: #159cfe;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pg-2 {
  margin-right: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.pg-2-2 {
  color: rgba(164, 161, 161, 1);
}
.pg-2-3 {
  font-weight: bold;
}
.pg-3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* buttons */
.c-button-g {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6%;
  font-weight: bold;
  color: rgba(33, 51, 104, 1);
  padding: 2%;
  cursor: pointer;
}
.cb {
  padding: 3% 12% 3% 12%;
  border-radius: 50px;
  margin: 0.5rem;
  border: none;
  outline: none;
  font-size: 18px;
  color: white;
}
.cb-1 {
  background-color: #159cfe;
}
.cb-2 {
  background-color: rgb(231, 0, 0);
}
.c-progress-line {
  background-color: #f1f1f1;
  border-radius: 50px;
}
.c-progress-line-1 {
  background-color: #159cfe;
  height: 3px;
  width: 80%;
}
/* ///////////////////////////////////////////////////// 
Show campaign route 
////////////////////////////////////////////////////*/

.sh-group {
  display: flex;
  flex-direction: column;
  padding: 0% 10% 10% 10%;
}
.sh-header {
  padding: 2%;
  font-size: 1.5rem;
  text-align: center;
  color: #213368;
}
.sh-details-group {
  display: flex;
}
@media screen and (max-width: 800px) {
  .sh-details-group {
    flex-direction: column;
  }
}
.sh-desc {
  flex-basis: 50%;
  font-size: 1.2rem;
  padding: 2%;
}
.sh-desc h3 {
  margin: 1%;
  text-align: center;
}
.sh-details {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
.sh-details button {
  padding: 2% 4% 2% 4%;
  margin: 10%;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 18px;
  color: white;
  background-color: #159cfe;
}

.sh-table {
  border-collapse: collapse;
  width: 80%;
}
.sh-table-2 {
  border-collapse: collapse;
  width: 100%;
}

.sh-table td,
.sh-table th {
  padding: 8px;
}

.sh-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
.table-group {
  padding: 2%;
  border: 1px solid;
}
.table-group-2 {
  margin-top: 5%;
}
.sh-details {
  padding: 2%;
}
.sh-details h2 {
  text-align: center;
  margin: 2%;
}
.share-1 {
  margin: 2%;
  color: #213368;
  font-weight: bold;
}
.share-2 {
  border: 1px solid;
  word-wrap: break-word;
}
.share-3 {
  margin-top: 2%;
  border: 1px solid;
  width: fit-content;
}

